#headerPrincipal {
    background-color: #cf0000;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#tableHeaderHome {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 120%;
}

.tableHCQP {
    color: white !important;
    padding: 10px;
    font-size: 30px;
    text-decoration: none !important;
}
.tableHCQP:hover {
    text-shadow: 0.1em 0.1em #333
}

#btnLoginAluno {
    text-decoration: none;
    color: white;

}

#buttonHeaderLogin {
    background-color: #e02929;
    height: 44px;
    font-size: 15px;
    border-color: #e02929;
}

#tableLogo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#logo {
    width: 12%;
}

@media (max-width: 995px) {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #logo {
        width: 19%;
    }
}

@media (max-width: 460px) {
    #logo {
        width: 38%;
    }

}