#imgAboutUs {
    height: 1080px;
    width: 1910px;
}

#txtAboutUs {
    color: white;
    padding-top: 15%;
}

#txtAboutUsPrincipal {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 18%;
    font-size: 20px;
    text-shadow: 0.1em 0.1em #333
}

@media (max-width: 875px) {
    #txtAboutUsPrincipal {
        width: 45%;
        padding-left: 3%;
        padding-top: 18%;
    }

}

@media (max-width: 775px) {
    #txtAboutUsPrincipal {
        width: 36%;
    }

}

@media (max-width: 600px) {
    #txtAboutUsPrincipal {
        width: 30%;
    }

}

@media (max-width: 480px) {
    #txtAboutUsPrincipal {
        width: 22%;
        padding-top: 14%;
    }

}